<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="scss/main.scss" /> -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body >
  

      <div class="menu">
        <div class="container-fluid bg-black" >
        <nav class="navbar navbar-expand-lg ">
       
         
            
              <ul class="navbar-nav ms-5 ">
                <li class="nav-item flex-md-row   ">
                  <a class="nav-link active  text-warning  hover " aria-current="page" href="/">
                    <button class="btn  btn-outline-warning border-black fs-5 ">Trang chủ</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active  text-warning" aria-current="page" href="/shop"> <button class="btn btn-outline-warning border-black   fs-5 ">Sản phẩm</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active   text-warning" aria-current="page" href="/addproduct"> <button class="btn btn-outline-warning border-black fs-5  ">Thêm sản phẩm</button></a>
                </li>
        
               
              </ul>
        
          </div>
        </nav>
      </div>
      </div>
      <div class="main " >
        <div class="container"> <a href="addproduct" ><button class="btn btn-info mt-3" >Thêm sản phẩm</button></a>
      
          <form action="" method="post"> 
            <div class="row gap-3"> <% for(pro of products){%> <% for(let images of pro.img) {%>
              <div class="card col-12  text-center mt-3 " style="width: 15rem;">

             
                <div class="card-header">
                <h3 class="product-title_name"><%=pro.title %></h3>
            </div>
         
           <div class="card-body"><img src="images/<%=images %>" alt="ảnh " class="img-fluid "  multiple  ></div>
            <div class="card-footer">
                <h4 class="pt-2">$<%=pro.price %></h4>
                <p class="prodcut-content_des "><%=pro.description %></p>
                <button class="btn btn-light text-success border-success "><a href='chitietsanpham/<%=pro.id%>'>Add to card</a></button>
            </div>
</div>
         
  <% } %>
            <%} %>
            </div>        
     
          </form>
        </div>
      </div>
       
      
       
     

  </body>
</html>
